# -*- indent-tabs-mode: t -*-
[user]
	name = ysano
	email = ysano@ysnet.org
[color]
	ui = auto
[core]
	autocrlf = input
	quotepath = false
	editor = emacsclient
[alias]
	co = checkout
	ci = commit
	st = status
	difff = diff --name-only
	diffc = diff --cached
	lg = log --oneline --decorate --graph
	lga = log --oneline --decorate --graph --branches --tags --remotes
[merge]
	tool = emerge
	autoCRLF = false
[push]
	default = simple
[http]
	sslVerify = false
[diff]
	compactionHeuristic = true
	renames = true
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
