name: tmux-check

on:
  push:
    paths: [ '.tmux/**' ]
  pull_request:
    paths: [ '.tmux/**' ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: cd .tmux && bash ci.sh